---
import Badge from "@components/ui/Badge.astro";
import LinkIcon from "@icons/LinkIcon.astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  school: string;
  link: string;
  time: string;
  description: string;
  image: string;
}

const { title, description, school, link, time, image } = Astro.props;
---

<li class="ms-[19px] relative">
  <div class="grid gap-y-2 sm:ml-2">
    <h3 class="font-bold">
      {title}
      <span class="hidden sm:inline-flex items-center gap-x-2">
        - {school}
        {
          link && (
            <a
              href={link}
              rel="noopener noreferrer"
              target="_blank"
              class="grid"
            >
              <Badge>
                WEBSITE
                <LinkIcon class="inline size-4 -mt-1" />
              </Badge>
            </a>
          )
        }
      </span>
    </h3>
    <span class="sm:hidden flex items-center gap-x-2">
      {school}
      {
        link && (
          <Badge>
            <a
              href={link}
              rel="noopener noreferrer"
              target="_blank"
              class="grid"
            >
              WEBSITE
              <LinkIcon class="inline size-4 -mt-1" />
            </a>
          </Badge>
        )
      }
    </span>
    <span class="text-sm sm:text-lg italic flex items-center gap-x-2">
      {time}
    </span>
    <p class="opacity-90 text-sm sm:text-lg">
      {description}
    </p>
    <article class="w-full mr-2 sm:mr-4 lg:mr-8 mt-2">
      <Image
        height="350"
        width="700"
        src={`/${image}.webp`}
        alt={image}
        class="w-11/12 sm:w-10/12 border border-black/10 dark:border-white/10 rounded-2xl"
        loading="eager"
      />
    </article>
  </div>
</li>
