---
import ExperienceItem from "@components/ExperienceItem.astro";
import EXPERIENCE from "@data/experience.json";
import SuitcaseIcon from "@icons/SuitcaseIcon.astro";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="experience" class="pl-4">
  <header class="flex items-center gap-x-2 sm:gap-x-4 -ml-1">
    <SuitcaseIcon />
    <h2 class="text-xl sm:text-2xl font-bold">EXPERIENCIA LABORAL</h2>
  </header>
  <ol
    class="text-lg sm:text-xl relative border-s border-black/10 dark:border-white/10 ml-2 space-y-8"
  >
    {
      EXPERIENCE.map(({ title, company, time, description }, index) => (
        <ExperienceItem
          index={index}
          title={title}
          company={company}
          time={time}
          description={description}
        />
      ))
    }
  </ol>
</SectionContainer>
