---
import Badge from "@components/ui/Badge.astro";
import LinkIcon from "@icons/LinkIcon.astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  institution?: string;
  link?: string;
  time?: string;
  description: string;
  technologies?: Array<string>;
  image?: string;
  index: number;
}

const {
  title,
  description,
  institution,
  link,
  time,
  technologies,
  image,
  index,
} = Astro.props;
---

<li class="grid gap-y-1 sm:gap-y-2 pl-[19px] sm:pl-[27px] lg:pl-7">
  <h3 class="font-bold">
    {title}
    {
      (institution || link) && (
        <span class="hidden sm:inline-flex items-center gap-x-2">
          {institution && `- ${institution}`}
          {link && (
            <a
              href={link}
              rel="noopener noreferrer"
              target="_blank"
              class="grid"
            >
              <Badge>
                WEBSITE
                <LinkIcon class="inline size-4 -mt-1" />
              </Badge>
            </a>
          )}
        </span>
      )
    }
  </h3>
  {
    (institution || link) && (
      <span class="sm:hidden flex items-center gap-x-2">
        {institution && institution}
        {link && (
          <Badge>
            <a href={link} rel="noopener noreferrer" target="_blank">
              WEBSITE
              <LinkIcon class="inline size-4 -mt-1" />
            </a>
          </Badge>
        )}
      </span>
    )
  }
  {
    time && (
      <span class="text-sm sm:text-lg italic flex items-center gap-x-2">
        {time}
      </span>
    )
  }
  <p class="opacity-90 text-sm sm:text-lg">
    {description}
  </p>
  <div
    class:list={[
      "mt-2 sm:mt-4 flex flex-col sm:flex-row items-center gap-4 sm:gap-8",
      {
        "justify-start": index % 2 === 0,
        "justify-end": index % 2 === 0,
      },
    ]}
  >
    <div
      class:list={[
        "w-11/12 sm:w-1/2 h-min text-xs sm:text-sm flex items-center flex-wrap gap-2 sm:gap-4 justify-center",
        {
          // "sm:items-end": index % 2 === 0,
          // "sm:items-start": index % 2 !== 0,
        },
      ]}
    >
      {
        technologies?.map((tech) => (
          <span class="grid place-content-center text-xs font-bold text-center py-1 p-2 rounded-3xl border border-black/10 dark:border-white/10 bg-black/10 dark:bg-white/10">
            {tech}
          </span>
        ))
      }
    </div>
    <article
      class:list={[
        "w-11/12 sm:w-1/2 max-sm:order-first",
        {
          "sm:order-first": index! % 2 > 0,
        },
      ]}
    >
      <Image
        height="350"
        width="700"
        src={`/${image}.webp`}
        alt={image}
        class="aspect-video border border-black/10 dark:border-white/10 rounded-2xl"
        loading="eager"
      />
    </article>
  </div>
</li>
